$xxl: 1599.98px;
$xl: 1199.98px;
$lg: 991.98px;
$md: 767.98px;
$sm: 575.98px;

:root {
  --container: 1300px;
  --yellow: #eac956;
  --bg-dark: #151514;
  --bg-light: #f7f6f2;
  --headlines: #1d1d1b;
  --text-light: #55554f;
  --text-dark: #dbdbd0;
  --white: #fff;
  --bg-divider-light: #e4e4e1;
  --placeholder: #afafaa;

  @media(max-width: $xl) {
    --container: 960px;
  }

  @media(max-width: $lg) {
    --container: 720px;
  }

  @media(max-width: $md) {
    --container: 540px;
  }

  @media(max-width: $sm) {
    --container: 100%;
  }
}
