@use '../../partials/mixins'as mix;
@use '../../partials/variables'as vars;

.team-join {
  display: flex;
  min-height: 420px;
  background: vars.$bg-dark;
  color: vars.$text-on-dark;
  border-radius: 24px;

  &__content {
    display: flex;
    flex-direction: column;
    padding: 30px;
  }

  &__text-block {
    display: flex;
    flex-direction: column;
    gap: 20px;
  }

  &__title {
    color: vars.$white;
    @include mix.h2;
  }

  &__desc {}

  &__btn {
    margin-top: auto;
    svg {
      width: 24px;
      height: 24px;
    }
  }

  &__poster-wrap {
    width: 50%;
  }

  &__poster {
    height: 100%;
    width: 100%;
    border-top-right-radius: 24px;
    border-bottom-right-radius: 24px;
  }
}
