@use '../utils/mixins' as mix;
@use '../utils/variables' as vars;

.header {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 15;
  display: flex;
  align-items: center;
  width: 100%;
  height: 100px;
  color: vars.$white;
  transition: background-color 0.3s ease-in-out,
    backdrop-filter 0.3s ease-in-out, transform 0.3s ease-in-out;

  @media (max-width: vars.$md) {
    height: 72px;
  }

  &::after {
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    height: 150px;
    background: linear-gradient(
      180deg,
      vars.$headlines 29.89%,
      rgb(21 21 20 / 0%) 100%
    );
    opacity: 0.8;
    content: '';
  }

  &_blur {
    &.header_light {
      background: rgba(vars.$headlines, 0.2);
    }

    background: rgba(vars.$headlines, 0.84);
    backdrop-filter: blur(8px);
  }

  &_hide {
    transform: translateY(-100%);
  }

  &_light {
    &::after {
      content: none;
    }

    color: vars.$headlines;

    .header {
      &__nav {
        &-list {
          color: vars.$text-on-light;
        }
      }

      &__burger {
        &-item {
          background: vars.$bg-dark;
        }
      }
    }
  }

  &__container {
    position: relative;
    z-index: 10;
    display: flex;
    gap: clamp(20px, 2.5vw, 40px);
    align-items: center;
    @media (max-width: vars.$md) {
      justify-content: space-between;
    }
  }

  &__logo {
    flex: none;
    @media (max-width: vars.$md) {
      height: 36px;
    }
  }

  &__nav {
    @media (max-width: vars.$xl) {
      display: none;
    }

    &-list {
      display: flex;
      gap: clamp(15px, 2vw, 32px);
      align-items: center;
      color: vars.$text-on-dark;
      @include mix.p-16;
    }
  }

  &__bar {
    display: flex;
    gap: 18px;
    @media (min-width: calc(vars.$xl + 0.02px)) {
      display: none;
    }

    &-tel {
      @media (min-width: calc(vars.$md + 0.02px)) {
        display: none;
      }

      font-size: 0;

      &-icon {
        width: 18px;
        height: 18px;
      }
    }
  }

  &__burger {
    position: relative;
    width: 18px;
    height: 18px;
    @media (min-width: calc(vars.$md + 0.02px)) {
      width: 32px;
      height: 32px;
    }

    &-item {
      position: absolute;
      left: 0;
      width: 100%;
      height: 1px;
      background: vars.$white;

      &:first-child {
        top: 15%;
        transform: translateY(-50%);
      }

      &:nth-child(2) {
        top: 50%;
        transform: translateY(-50%);
      }

      &:last-child {
        bottom: 15%;
        transform: translateY(-50%);
      }
    }
  }

  &__contact {
    @media (max-width: vars.$md) {
      display: none;
    }

    display: flex;
    gap: 8px;
    align-items: center;
    margin-left: auto;
  }
}
