@use '../utils/variables' as vars;

.partners-small {
  position: relative;
  padding: clamp(18px, 3.23vw, 32px) 0;
  overflow: hidden;
  background: vars.$bg-light;

  &__item {
    width: fit-content;
    height: 100%;
    max-height: 36px;
    margin: 0 auto;
    @media (max-width: vars.$md) {
      max-height: 22px;
    }
  }

  &__img {
    object-fit: contain;
  }
}
