@use '../utils/variables' as vars;
@use '../utils/mixins' as mix;

.shipping-partners {
  padding: 120px 0;

  &__container {
    display: flex;
    flex-direction: column;
    gap: clamp(40px, 6.05vw, 60px);
  }

  &__text-block {
    display: flex;
    flex-wrap: wrap;
    gap: 15px;
    justify-content: space-between;
  }

  &__title {
    @include mix.h2;

    width: 640px;
  }

  &__desc {
    width: 510px;
    color: vars.$text-on-light;
  }

  &__list {
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    gap: 20px;
    @media (max-width: vars.$xl) {
      grid-template-columns: repeat(2, 1fr);
    }
    @media (max-width: vars.$md) {
      grid-template-columns: 1fr;
    }
  }

  &__item {
    display: flex;
    flex-direction: column;
    grid-column: 3 span;
    gap: 30px;
    min-height: 360px;
    padding: 20px;
    background: vars.$bg-light;
    border-radius: 24px;

    @media (max-width: vars.$md) {
      min-height: unset;
    }

    &:nth-child(3n),
    &:nth-child(4n),
    &:nth-child(5n) {
      grid-column: 2 span;
      @media (max-width: vars.$xl) {
        grid-column: unset;
      }
    }

    @media (max-width: vars.$xl) {
      grid-column: unset;
    }

    &-img-wrap {
      display: flex;
      flex-direction: column;
      gap: 10px;
    }

    &-img {
      width: fit-content;
    }

    &-text-block {
      margin-top: auto;
    }

    &-name {
      @include mix.h3;
      @media (max-width: vars.$md) {
        @include mix.h4-desktop;
      }
    }
  }
}
