@use '../../utils/mixins' as mix;
@use '../../utils/variables' as vars;

.overlay {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 20;
  background: rgba(vars.$headlines, 0.9);
  visibility: hidden;
  opacity: 0;
  backdrop-filter: blur(3px);
  transition: opacity 0.3s ease-in-out, visibility 0.3s ease-in-out;

  &_active {
    visibility: visible;
    opacity: 1;
  }
}

.popup {
  position: absolute;
  top: 50%;
  left: 50%;
  max-height: 96vh;
  padding: 30px;
  overflow-y: auto;
  color: vars.$text-on-light;
  background: vars.$white;
  border-radius: 24px;
  transform: translate(-50%, -50%);
  visibility: hidden;
  opacity: 0;
  transition: opacity 0.3s ease-in-out, visibility 0.3s ease-in-out;

  @media (max-width: vars.$md) {
    padding: 20px;
    padding-bottom: 40px;
  }

  &_active {
    visibility: visible;
    opacity: 1 !important;
  }

  &__close {
    position: absolute;
    top: 0;
    right: 0;
    padding: 20px;

    &-icon {
      width: 36px;
      height: 36px;
      color: vars.$bg-light-divider;
    }
  }
}
