@use '../../utils/mixins'as mix;
@use '../../utils/variables'as vars;

.popup-form {
  width: 600px;
  color: vars.$text-on-light;

  &__container {
    display: flex;
    flex-direction: column;
    gap: 30px;
  }

  &__text-block {
    display: flex;
    flex-direction: column;
    gap: 20px;
    text-align: center;
  }

  &__title {
    @include mix.h3;
  }

  &__desc {
    max-width: 474px;
  }
}
