@use '../../utils/mixins' as mix;
@use '../../utils/variables' as vars;

.popup-form {
  width: 37.5vw;
  color: vars.$text-on-light;

  @media (max-width: vars.$xxl) {
    width: 60vw;
  }
  @media (max-width: vars.$lg) {
    width: 80vw;
  }
  @media (max-width: vars.$md) {
    width: 100vw;
  }

  &__container {
    display: flex;
    flex-direction: column;
    gap: 30px;
    @media (max-width: vars.$md) {
      gap: 46px;
    }
  }

  &__text-block {
    display: flex;
    flex-direction: column;
    gap: clamp(15px, 2.02vw, 20px);
    align-items: center;
    text-align: center;
    @media (max-width: vars.$sm) {
      align-items: flex-start;
      text-align: left;
    }
  }

  &__title {
    @include mix.h3;
  }

  &__desc {
    max-width: 474px;
    @media (max-width: vars.$sm) {
      @include mix.p-16;
    }
  }

  .form {
    &__field-row {
      @media (max-width: vars.$sm) {
        flex-direction: column;
      }
    }
  }
}
