@use '../../utils/mixins' as mix;
@use '../../utils/variables' as vars;

.popup-quiz {
  width: 50vw;

  @media (max-width: vars.$xxl) {
    width: 70vw;
  }
  @media (max-width: vars.$lg) {
    width: 85vw;
  }
  @media (max-width: vars.$md) {
    width: 100vw;
  }

  .step {
    display: flex;
    display: none;
    flex-direction: column;
    gap: 30px;

    &_active {
      display: flex;
    }

    &__info {
      display: flex;
      gap: clamp(4px, 0.81vw, 8px);
      align-items: center;
      color: vars.$text-on-dark;
      @include mix.p-20;

      @media (max-width: vars.$md) {
        @include mix.p-16;
      }

      &_current {
        color: vars.$headlines;
      }
    }

    &__title {
      max-width: 520px;
      color: vars.$headlines;
      @include mix.h3;

      @media (max-width: vars.$md) {
        @include mix.h4-desktop;
      }
    }

    &__content {
      display: flex;
      flex-direction: column;
      gap: 30px;
    }

    &__field {
      &-block {
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(140px, 1fr));
        gap: clamp(8px, 1.01vw, 10px);

        @media (max-width: vars.$md) {
          grid-template-columns: repeat(auto-fit, minmax(104px, 1fr));
        }
      }

      &-flag {
        &:checked {
          & + div {
            background: vars.$bg-light;
            border-color: vars.$yellow;

            &::after {
              opacity: 1;
            }
          }
        }
      }

      &-custom {
        position: relative;
        display: flex;
        flex-direction: column;
        gap: 8px;
        padding: 12px 20px;
        border: 1px solid vars.$bg-light-divider;
        border-radius: 16px;
        transition: background-color 0.3s ease-in-out,
          border-color 0.3s ease-in-out;

        @media (max-width: vars.$md) {
          gap: 10px;
          padding: 9px 15px;
        }

        &::after {
          position: absolute;
          top: 12px;
          right: 16px;
          width: 20px;
          height: 20px;
          background: url('@/img/icons/yellow-circle-check.svg') no-repeat
            center / contain;
          opacity: 0;
          transition: opacity 0.3s ease-in-out;
          content: '';

          @media (max-width: vars.$md) {
            top: 9px;
            right: 14px;
            width: 15px;
            height: 15px;
          }
        }

        &_text {
          @include mix.p-14;

          @media (max-width: vars.$md) {
            font-size: 12px;
            line-height: 1.17;
          }
        }

        &_amount {
          @include mix.h3;

          color: vars.$headlines;

          @media (max-width: vars.$md) {
            @include mix.p-16;
          }
        }
      }
    }

    &__btn {
      &-block {
        display: flex;
        gap: 10px;
      }

      &-next {
        flex-grow: 6;
      }

      &-back {
        flex-grow: 1;
      }
    }
  }

  &__result {
    display: flex;
    display: none;
    flex-direction: column;
    gap: 30px;
    color: vars.$headlines;
    @media (max-width: vars.$md) {
      gap: 10px;
    }

    &-name {
      @include mix.p-20;
      @media (max-width: vars.$md) {
        font-size: 16px;
      }
    }

    &_active {
      display: flex;
    }
  }

  &__title {
    @include mix.h3;
    @media (max-width: vars.$md) {
      @include mix.h2;

      margin-bottom: 35px;
    }
  }

  &__content {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 10px;
    @media (max-width: vars.$md) {
      grid-template-columns: 1fr;
      gap: 40px;
    }
  }

  &__left {
    display: flex;
    flex-direction: column;
    gap: 24px;
    padding: 20px;
    background: #f7f6f2;
    border-radius: 16px;

    &-text-block {
      display: flex;
      flex-direction: column;
      gap: clamp(10px, 1.21vw, 12px);
    }

    &-title {
      @include mix.h3;

      @media (max-width: vars.$md) {
        @include mix.h1;
      }
    }
  }

  &__pay {
    display: flex;
    gap: 8px 12px;
    align-items: center;

    @media (max-width: vars.$md) {
      flex-direction: column;
      align-items: unset;
    }

    &_amount {
      @include mix.h3;
    }

    &_text {
      color: vars.$text-on-light;
      color: vars;
    }
  }

  &__advantage-list {
    flex-wrap: wrap;
    max-height: 156px;

    @media (max-width: vars.$md) {
      max-height: unset;
    }

    .advantage-list {
      &__item {
        max-width: 155px;
        @media (max-width: vars.$md) {
          max-width: unset;
        }
      }
    }
  }

  &__btn {
    width: 100%;
  }

  &__right {
    display: flex;
    flex-direction: column;
    gap: 10px;
    @media (max-width: vars.$md) {
      gap: 40px;
    }
  }

  &__info {
    display: flex;
    flex-direction: column;
    gap: 20px;
    padding: 20px;
    padding-bottom: 18px;
    background: vars.$white;
    border: 1px solid vars.$bg-light-divider;
    border-radius: 16px;

    @media (max-width: vars.$lg) {
      padding: 16px;
    }

    &-item {
      display: flex;
      flex-direction: column;
      gap: 4px;

      &_title {
        @include mix.p-14;

        @media (max-width: vars.$lg) {
          font-size: 12px;
          line-height: 1.67;
        }

        margin-bottom: 8px;
        color: vars.$text-on-light;
      }

      &_link {
        @include mix.p-20;

        @media (max-width: vars.$lg) {
          @include mix.p-16;
        }
      }
    }
  }

  &__advantages {
    padding: clamp(12px, 1.61vw, 16px) 20px;
    background: vars.$bg-dark;
    border-radius: 16px;

    @media (max-width: vars.$lg) {
      padding: 20px 15px;
    }

    &-list {
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      gap: 16px 12px;
      @include mix.p-16;

      @media (max-width: vars.$lg) {
        @include mix.p-14;
      }

      color: vars.$white;

      .advantage-list {
        &__item {
          gap: 10px;
          min-width: 134px;
        }

        &__icon {
          width: 24px;
          height: 24px;
        }
      }
    }
  }

  &__bottom {
    display: flex;
    grid-column: 1 / -1;
    gap: 10px;
  }

  &__repeat {
    &_icon {
      width: 24px;
      height: 24px;
    }
  }

  &__close {
    flex-grow: 1;
  }
}
