include ../modules/mixins
header.header
  .container.header__container
    +logo('logo-white', 'header__logo')
    nav.header__nav
      a.header__nav-link(href="#") Tariffs
      a.header__nav-link(href="#") Über uns
      a.header__nav-link(href="#") Leistungen
      a.header__nav-link(href="#") Karriere
      a.header__nav-link(href="#") Nachhaltigkeit
      a.header__nav-link(href="#") Kontakt
    .header__contact
      a.btn.header__contact-tel(href="tel:#") Call us
      button.btn.btn_white.header__contact-form(type="button") Angebot Anfordern



