@use '../../partials/variables'as vars;

.home {
  .hero {
    color: vars.$white;
    background: vars.$bg-dark;

    &::after {
      content: '';
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      height: 150px;
      background: linear-gradient(180deg, #151514 29.89%, rgba(21, 21, 20, 0) 100%);
      opacity: 0.8;
    }

    &__container {
      justify-content: unset;
    }

    &__content {
      margin-top: 100px;
    }

    &__video {
      &-block {
        &::before {
          background: vars.$bg-dark;
        }

        &::after {
          background: linear-gradient(90deg, vars.$bg-dark 14.13%, rgba(vars.$bg-dark, 0) 61.96%);
        }

      }
    }

    &__desc {
      color: vars.$text-on-dark;
    }
  }
}
