mixin rate-list(rateList, isGray = false)
  .rate-list(class=isGray ? 'rate-list_gray' : '')
    .swiper.rate-list__slider
      ul.swiper-wrapper
        each rate in rateList
          li.swiper-slide
            +rate-card('div', rate, isGray)
      .rate-list__pagination.swiper-pagination
      button.rate-list__btn.rate-list__btn_prev.swiper-button-prev(type="button")
        svg.rate-list__btn-icon
          use(xlink:href="./assets/sprite.svg#right-arrow")
      button.rate-list__btn.rate-list__btn_next.swiper-button-next(type="button")
        svg.rate-list__btn-icon
          use(xlink:href="./assets/sprite.svg#right-arrow")
