include ../email-btns

mixin rate-offer()
  .rate-offer
    .rate-offer__content
      .rate-offer__text-block
        h2.rate-offer__title
          | Sie möchten eine
          br
          | Beratung oder ein individuelles Angebot?
        p.rate-offer__desc Schreiben Sie mir eine E-Mail oder rufen Sie direkt an. Ich bin gerne für Sie da.
      +email-btns('Book consultation', 'rate-offer__btns')
    .rate-offer__img-wrap
      img.rate-offer__img(src=require("@/img/rate/rate-offer.jpg"), alt="")




