@use "../partials/variables"as vars;
@use "../partials/mixins"as mix;

.acc {
  display: flex;
  flex-direction: column;
  counter-reset: accCounter;
  margin-left: -32px;

  &_counter {
    .acc {
      &__btn {
        &::before {
          display: inline-block;
        }
      }
    }
  }

  &__item {
    overflow: hidden;

    &_active {
      .acc {
        &__btn {
          padding-bottom: 24px;

          &::before {
            color: vars.$yellow;
          }

          &::after {
            border-color: transparent;
          }
        }

        &__title {
          opacity: 1;
        }

        &__panel {
          padding-bottom: 32px;
          visibility: visible;
        }

        &__icon {
          color: vars.$bg-light-divider;
          &_open {
            display: none;
          }
          &_close {
            display: inline-block;
          }
        }
      }
    }
  }

  &__btn {
    position: relative;
    display: flex;
    align-items: center;
    gap: 24px;
    @include mix.h3;
    width: 100%;
    padding: 32px;
    border-radius: 16px;
    transition: background-color .5s ease-in-out,
      padding-bottom 0.5s ease-in-out, ;

    &::before {
      content: counter(accCounter, decimal-leading-zero);
      counter-increment: accCounter;
      color: vars.$text-on-dark;
      font-size: 14px;
      line-height: 1.71;
      transition: color .5s ease-in-out;
      display: none;
    }

    &::after {
      content: '';
      position: absolute;
      left: 0;
      bottom: 0;
      width: 100%;
      margin: 0 32px;
      height: 1px;
      transition: border-color .3s ease-in-out;
      border-bottom: 1px solid vars.$bg-light-divider;
    }

    &:hover,
    &:focus-visible,
    &:active {
      background: vars.$bg-light;

      &::before {
        color: vars.$yellow;
      }

      &::after {
        border-color: transparent;
      }

      .acc__title {
        opacity: 1;
      }
    }
  }

  &__title {
    transition: opacity .5s ease-in-out;
    opacity: .6;
  }

  &__icon {
    margin-left: auto;
    width: 36px;
    height: 36px;
    color: vars.$headlines;
    transition: color .3s ease-in-out;
    &_close {
      display: none;
    }
  }

  &__panel {
    padding: 0 32px;
    color: vars.$text-on-light;
    max-height: 0;
    visibility: hidden;
    transition: max-height 0.5s ease-in-out, padding-bottom 0.5s ease-in-out,
      visibility 0.5s ease-in-out;
  }

  &__content {
    display: flex;
    flex-direction: column;
    gap: 30px;
    width: 522px;
  }
}
