@use '../partials/mixins' as mix;
@use '../partials/variables' as vars;

.btn {
  text-align: center;
  @include mix.btn-small;
  padding: 12px 24px;

  &_big {
    border-radius: 12px;
    @include mix.btn-small;
    padding: 14px 32px;
  }

  &_white {
    background: vars.$white;
    color: vars.$headlines;
    border-radius: 12px;
  }

  &_black {
    background: vars.$headlines;
    color: vars.$white;
    border-radius: 12px;
  }

  &_yellow {
    background: vars.$yellow;
    color: vars.$headlines;
    border-radius: 12px;
  }
}
