@use '../partials/mixins' as mix;
@use '../partials/variables' as var;

.btn {
  @include mix.btn-small;
  padding: 12px 24px;

  &_big {
    border-radius: 12px;
    @include mix.btn-small;
    padding: 14px 32px;
  }

  &_white {
    background: var(--white);
    color: var(--headlines);
    border-radius: 12px;
  }

  &_black {
    background: var(--headlines);
    color: var(--white);
    border-radius: 12px;
  }

  &_yellow {
    background: var(--yellow);
    color: var(--headlines);
    border-radius: 12px;
  }
}
