@use '../partials/mixins' as mix;
@use '../partials/variables' as vars;

.btn {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  gap: 12px;
  text-align: center;
  @include mix.btn-small;
  padding: 12px 24px;
  width: fit-content;

  &__icon {
    width: 20px;
    height: 20px;
  }

  &_big {
    border-radius: 12px;
    @include mix.btn-big;
    padding: 14px 32px;
  }

  &_white {
    background: vars.$white;
    color: vars.$headlines;
    border-radius: 12px;
  }

  &_black {
    background: vars.$headlines;
    color: vars.$white;
    border-radius: 12px;
  }

  &_light {
    background: vars.$bg-light;
    color: vars.$placeholder;
    border-radius: 12px;
  }

  &_yellow {
    background: vars.$yellow;
    color: vars.$headlines;
    border-radius: 12px;
  }
}
