@use '../partials/mixins' as mix;
@use '../partials/variables' as vars;

.app {
  display: flex;
  flex-direction: column;
  font-family: Inter, serif;
  font-weight: 400;
  @include mix.p-18;
  color: vars.$headlines;
  min-height: 100vh;
}

.container {
  max-width: calc(var(--container) + 30px);
  padding-left: 15px;
  padding-right: 15px;
  margin: 0 auto;
  width: 100%;
}

.logo {
  width: 106px;
  &__img {
    vertical-align: middle;
  }
}
