mixin acc(Class,accList)
  ul.acc(class=Class)
    each accItem in accList
      li.acc__item
        button.acc__btn(type="button")
          span.acc__title=accItem.title
        .acc__panel
          span=accItem.desc
