mixin contact-mini(className)
  ul.contact-mini(class=className)
    li.contact-mini__item
      span.contact-mini__name Zentrale
      .contact-mini__link-wrap
        a.contact-mini__link(href="tel:+4951199994290") +49 511 9999 4 290
        a.contact-mini__link(href="mailto:info@imologistics.com") info@imologistics.com
    li.contact-mini__item
      span.contact-mini__name Ilja Slutski, Head of Transport Logistics and Business Development
      .contact-mini__link-wrap
        a.contact-mini__link(href="tel:+4917624847854") +49 176 24847854
        a.contact-mini__link(href="mailto:iljasl@imologistics.com") iljasl@imologistics.com
    li.contact-mini__item
      span.contact-mini__name Rafael Porebski, Head of Supply Chain Management
      .contact-mini__link-wrap
        a.contact-mini__link(href="tel:+4917624847788") +49 176 24847788
        a.contact-mini__link(href="mailto:rafaelpo@imologistics.com") rafaelpo@imologistics.com
