@use '../utils/variables'as vars;
@use '../utils/mixins'as mix;

.contact-mini {
  display: flex;
  flex-direction: column;
  gap: 32px;
  padding: 40px;
  background: vars.$bg-light;
  border-radius: 24px;

  &__item {
    display: flex;
    flex-direction: column;
    gap: 16px;
    width: 280px;
  }

  &__name {
    @include mix.p-16;

    color: vars.$text-on-light;
  }

  &__link {
    &-wrap {
      display: flex;
      flex-direction: column;
      gap: 8px
    }
    @include mix.h4;
  }
}
