@use '../utils/variables' as vars;
@use '../utils/mixins' as mix;

.contact-mini {
  display: flex;
  flex-direction: column;
  gap: clamp(20px, 3.23vw, 32px);
  padding: clamp(15px, 3.75vw, 40px) clamp(16px, 3.75vw, 40px);
  background: vars.$bg-light;
  border-radius: 24px;

  &__item {
    display: flex;
    flex-direction: column;
    gap: 16px;
    max-width: 280px;
    @media (max-width: vars.$md) {
      width: 65.63%;
    }
  }

  &__name {
    @include mix.p-16;

    color: vars.$text-on-light;

    @media (max-width: vars.$md) {
      font-size: 12px;
      line-height: 1.67;
    }
  }

  &__link {
    &-wrap {
      display: flex;
      flex-direction: column;
      gap: clamp(4px, 0.81vw, 8px);
    }
    @include mix.h4;

    @media (max-width: vars.$md) {
      @include mix.p-16;
    }
  }
}
