@use '../utils/variables' as vars;
@use '../utils/mixins' as mix;

.form {
  display: flex;
  flex-direction: column;
  gap: 24px;

  &__fields {
    &-block {
      display: flex;
      flex-flow: row wrap;
      gap: 20px;
      gap: clamp(16px, 2.02vw, 24px);
      gap: var(--form-gap);

      --form-gap: 20px;
    }
  }

  &__field {
    &-block {
      width: 100%;

      &_error {
        input,
        textarea {
          border-color: #ff4b4b;
        }

        span {
          margin-top: 4px;
          @include mix.p-12;

          color: #ff4b4b;
        }
      }
    }

    &-row {
      position: relative;
      display: flex;
      flex-wrap: wrap;
      gap: 20px;
      width: 100%;
    }

    &-half {
      width: calc((100% - var(--form-gap)) / 2);
    }

    width: 100%;

    &_textarea {
      min-height: 150px;
    }
  }

  &__checkbox {
    &-text {
      &_link {
        color: vars.$headlines;
        text-decoration: underline;
      }
    }
  }

  &__btn {
    width: 100%;
  }

  &__field.is-invalid,
  .is-invalid ~ .checkbox__custom {
    border-color: red;
  }

  .is-invalid ~ .error {
    position: absolute;
    bottom: -20%;
    left: 0;
    display: block !important;
    color: red;
    font-size: small;
  }

  &-error &__field {
    margin-bottom: 10px;
  }
}
