extends ../layouts/main

block vars
  - const title = 'Kontakt';
  - const pageName = 'contact';

block content
  include ../components/hero
  include ../components/contact-filling

  +hero(
    'Kontakt',
    'Einfache Preise ohne versteckte Kosten. Starten Sie jetzt kostenlos - ohne Probezeit, Vertrag oder Risiko.',
    {bg: require('@/img/pages/contact-hero.jpg')}
  )

  +contact-filling(
      'Leave us a request',
      'Sind Sie an einer Zusammenarbeit interessiert? Möchten Sie unsere Dienstleistungen ausführlicher besprechen? Schreiben Sie uns, wir werden Ihnen bald antworten!',
      false
  )
