mixin select-lang-big(light = false, mobile = false)
  select.select-lang.select-lang-big(class=light ? 'select-lang-big_light' : '' class=mobile ? 'select-lang-big_mobile' : '')
    option(value="en") En
    option(value="ru") Ru
    option(value="am") Am