@use '../utils/mixins' as mix;
@use '../utils/variables' as vars;

.app.contact {
  .hero {
    color: vars.$headlines;
    background: vars.$bg-dark;

    @media (max-width: vars.$sm) {
      text-align: center;
    }

    &__container {
      height: unset;
      @media (min-width: calc(vars.$sm + 0.02px)) {
        min-height: 600px;
      }
      @media (max-width: vars.$sm) {
        align-items: center;
        justify-content: flex-start;
      }
    }

    &__desc {
      color: vars.$text-on-light;
    }
  }
}
