include ../email-btns

mixin tariff-offer-2
  .tariff-offer-2
    .tariff-offer-2__left 
      .tariff-offer-2__strong-block
        strong.tariff-offer-2__strong *Nur für Neukunden in den ersten 6 Monaten, danach Übergang in den Tarif M. 
        strong.tariff-offer-2__strong **1 AW (Arbeitswert) entspricht 15 Minuten
      p.tariff-offer-2__desc Alle Tarife haben eine Gültigkeit vom 01.02.2023 bis zum 31.07.2023
    .tariff-offer-2__right
      h3.tariff-offer-2__title Не смогли определиться?
      .tariff-offer-2__btn-block
        button.btn.btn_big.btn_yellow(type="button") Tarifrechner
        button.btn.btn_big.btn_white(type="button") Contact us

       


    