mixin tariff-info(isWhite)
  ul.tariff-info(class=!isWhite ? 'tariff-info_dark' : '')
    li.tariff-info__item.tariff-info__item_big
      h3.tariff-info__title Kommunikation
      ul.tariff-info__list 
        li.tariff-info__list-item 
          span.tariff-info__text Bearbeitung einer einfachen E-Mail
          span.tariff-info__count 1 AW
        li.tariff-info__list-item 
          span.tariff-info__text Bearbeitung einer umfangreichreichen E-Mail ohne Recherche
          span.tariff-info__count 1 AW
        li.tariff-info__list-item 
          span.tariff-info__text Bearbeitung einer umfangreichreichen E-Mail mit Recherche
          span.tariff-info__count 3 AW
    li.tariff-info__item.tariff-info__item_big
      h3.tariff-info__title Manuelle Auftragserfassung- und Bearbeitung
      ul.tariff-info__list 
        li.tariff-info__list-item 
          span.tariff-info__text Auftrag bis 10 SKU
          span.tariff-info__count 2 AW
        li.tariff-info__list-item 
          span.tariff-info__text Auftrag bis 20 SKU
          span.tariff-info__count 3 AW
        li.tariff-info__list-item 
          span.tariff-info__text Auftrag bis 50 SKU
          span.tariff-info__count 4 AW
    li.tariff-info__item
      h3.tariff-info__title Warenannahme/Einlagerung
      ul.tariff-info__list 
        li.tariff-info__list-item 
          span.tariff-info__text Sortenreines Paket
          span.tariff-info__count 1 AW
        li.tariff-info__list-item 
          span.tariff-info__text Gemischtes Paket
          span.tariff-info__count 2 AW
        li.tariff-info__list-item 
          span.tariff-info__text Sortenreine Palette
          span.tariff-info__count 1 AW
        li.tariff-info__list-item 
          span.tariff-info__text Sortenreines Paket
          span.tariff-info__count 1 AW
        li.tariff-info__list-item 
          span.tariff-info__text Gemischtes Paket
          span.tariff-info__count 2 AW
        li.tariff-info__list-item 
          span.tariff-info__text Sortenreine Palette
          span.tariff-info__count 1 AW
    li.tariff-info__item
      h3.tariff-info__title Retourenbearbeitung
      ul.tariff-info__list 
        li.tariff-info__list-item 
          span.tariff-info__text bis 50 SKU 
          span.tariff-info__count 8 AW
        li.tariff-info__list-item 
          span.tariff-info__text 50 bis 100 SKU 
          span.tariff-info__count 16 AW
        li.tariff-info__list-item 
          span.tariff-info__text 100 bis 250 SKU 
          span.tariff-info__count 32 AW
        li.tariff-info__list-item 
          span.tariff-info__text Gemischte Palette bis 5 SKU 
          span.tariff-info__count 3 AW
        li.tariff-info__list-item 
          span.tariff-info__text Gemischte Palette 5 bis 10 SKU 
          span.tariff-info__count 4 AW
        li.tariff-info__list-item 
          span.tariff-info__text Gemischte Palette 10 bis 20 SKU 
          span.tariff-info__count 8 AW
    li.tariff-info__item
      h3.tariff-info__title Inventur
      ul.tariff-info__list 
        li.tariff-info__list-item 
          span.tariff-info__text Gemischte Palette bis 5 SKU 
          span.tariff-info__count 3 AW
        li.tariff-info__list-item 
          span.tariff-info__text Gemischte Palette 5 bis 10 SKU 
          span.tariff-info__count 4 AW
        li.tariff-info__list-item 
          span.tariff-info__text Gemischte Palette 10 bis 20 SKU 
          span.tariff-info__count 8 AW
        li.tariff-info__list-item 
          span.tariff-info__text 250 bis 500 SKU 
          span.tariff-info__count 64 AW
        li.tariff-info__list-item 
          span.tariff-info__text 500 bis 1000 SKU 
          span.tariff-info__count 128 AW
        li.tariff-info__list-item 
          span.tariff-info__text >1000 SKU 
          span.tariff-info__count auf Anfrage
    
      
    