extends ../modules/main

block vars
  - const title = 'Über uns';
  - const pageName = 'about';

block content
  include ../layouts/hero
  include ../modules/partners-small
  include ../modules/desc
  include ../layouts/presentation
  include ../layouts/benefits
  include ../layouts/team
  include ../layouts/reviews
  include ../modules/half-blocks

  +hero(
    'Über uns',
    'Einfache Preise ohne versteckte Kosten. Starten Sie jetzt kostenlos - ohne Probezeit, Vertrag oder Risiko.',
  )

  +partners-small

  +desc(
    'We are a fullfilment & logistic company, that is working out a a coherent 360-degree logistics solution with individual concepts based on our customers. Fast shipping, late cut-off times, product based and secured storage and transparency through IT interfaces are a matter of course for us.'
  )

  +presentation(
    'Our mission',
    [
      'Winden is building banking products and services to support the next generation of entrepreneurs.',
      'The world as we know is no longer the same, and changes now occur in days and months, not years. The digital revolution is here, and Winden is at the center, supporting entrepreneurs and businesses propelling the growth of the global internet economy.',
    ]
  )

  +benefits(
    [
      {
        title: 'Fast shipping',
        desc: 'Get your items delivered quickly with our efficient shipping services.',
        icon: 'reward',
      },
      {
        title: 'Late cut-off times',
        desc: 'Maximize your order potential with our late cut-off times.',
        icon: 'calendar',
      },
      {
        title: 'Customized approach to individual needs',
        desc: 'Tailored solutions to meet your unique needs and requirements.',
        icon: 'hearth',
      },
      {
        title: 'Product-based & secured storage',
        desc: 'Safely store your products in our secure and specialized facilities.',
        icon: 'home-lock',
      },
      {
        title: 'Transparency through IT-interfaces',
        desc: 'Track your shipments and stay informed through our user-friendly IT interfaces.',
        icon: 'emailbox',
      },
      {
        title: 'Reliable and safe deliveries guaranteed',
        desc: 'Experience hassle-free deliveries with our guarantee of safety and reliability.',
        icon: 'safety',
      },
    ],
    {
      title: 'Die unrealistischsten Vorteile unseres Unternehmens',
    },
    false
  )

  +team

  +reviews(
    'What our customers saying about our work',
    'Schnell, flexibel und zuverlässig: '
  )

  section
    +half-offer
