extends ../modules/main

block vars
  - const title = 'Tarrifs';
  - const pageName = 'tariffs';

block content
  include ../layouts/hero
  +hero(
    'Transparente Preise, maximale Erfolge: Entdecken Sie unser Fulfillment-Angebot',
    'Einfache Preise ohne versteckte Kosten. Starten Sie jetzt kostenlos - ohne Probezeit, Vertrag oder Risiko.',
    'Jetzt kostenlos starten',
  )

  include ../layouts/tariff-plans
  +tariff-plans(true)

  include ../layouts/reviews
  +reviews(
    'We are a fullfilment & logistic company, that is working out a a coherent 360-degree logistics solution',
    'Schnell, flexibel und zuverlässig: durch unsere ausgefeilten und hoch skalierbaren FulfillmentProzesse können Markenhersteller und Händler in ihren nationalen und internationalen Märkten leistungsstark auftreten und wirtschaftlich optimiert agieren.'
  )

  include ../layouts/presentation
  +presentation(
    'Großes Zahlungsvolumen oder einzigartiges Geschäftsmodell?',
    'Schnell, flexibel und zuverlässig: durch unsere ausgefeilten und hoch skalierbaren FulfillmentProzesse können Markenhersteller und Händler in ihren nationalen und internationalen Märkten leistungsstark auftreten und wirtschaftlich optimiert agieren.'
  )

  include ../layouts/about-acc
  +about-acc({
      text: 'Frequently Asked Questions',
      notice: 0
    }, {
      counter: true,
      icon: true
  })

  include ../layouts/half-blocks
  section
    +half-analysis(true)
    +half-offer

