@use '../partials/variables'as vars;
@use '../partials/mixins'as mix;

.footer {
  margin-top: auto;
  padding: 60px 0 40px;
  background: #f6f6f2;
  @include mix.p-16;

  &__container {
    display: flex;
    flex-direction: column;
    gap: 140px;
  }

  &__content {
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;
    column-gap: 20px;
  }

  &__main {
    display: flex;
    flex-direction: column;
    margin-right: auto;
  }

  &__logo {
    margin-bottom: 20px;
  }

  &__desc {
    margin-bottom: 24px;
    color: vars.$text-light;
  }

  &__btns {
    display: flex;
    gap: 8px;
  }

  &__social {
    padding: 18px;
    border-radius: 12px;
    background: vars.$white;
    font-size: 0;

    &-icon {
      width: 12px;
      height: 12px;
    }
  }

  &__nav {
    display: flex;
    gap: 80px;
    align-items: flex-start;

    &-block {
      display: flex;
      flex-direction: column;
      gap: 20px;
      max-width: 250px;
    }

    &-blocks-wrap {
      display: flex;
      flex-direction: column;
      gap: 40px;
    }

    &-title {
      @include mix.p-14;
      opacity: .5;
    }

    &-list {
      display: flex;
      flex-direction: column;
      gap: 12px;
    }
  }

  &__additionally {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    column-gap: 20px;
    @include mix.p-14;

    &-list {
      display: flex;
      align-items: center;
      gap: 20px;
      margin-left: auto;
    }
  }

  &__copyright {
    opacity: 0.5;
  }
}
