@use '../partials/variables'as vars;
@use '../partials/mixins'as mix;

.half-block {
  min-height: 700px;
  height: 700px;
  overflow: hidden;

  &_right {
    .half-block {
      &__img-wrap {
        padding-left: calc((100vw - var(--container)) / 2);
        margin-left: calc((-100vw + var(--container)) / 2);
        padding-right: 0;
        margin-right: 0;
      }

      &__content {
        order: 2;
        padding-left: 90px;
      }
    }

    &.half-block_analysis {
      .half-block__content {
        padding-left: 130px;
      }
    }
  }


  &_offer {
    background: vars.$yellow;
  }

  &_analysis {
    background: #f9eec8;

    .half-block__content {
      justify-content: center;
    }

    .half-block__info {
      margin-top: 0;
    }
  }



  &__container {
    display: flex;
    height: 100%;

    &>* {
      flex-basis: 50%;
    }
  }

  &__img {
    &-wrap {
      position: relative;
      flex-grow: 1;
      height: 100%;
      padding-right: calc((100vw - var(--container)) / 2);
      margin-right: calc((-100vw + var(--container)) / 2);
    }

    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }

  &__content {
    display: flex;
    flex-direction: column;
    padding: 60px 0;
  }

  &__title {
    @include mix.h2;
    max-width: 550px;
  }

  &__info {
    margin-top: auto;
    display: flex;
    flex-direction: column;
    gap: 30px;
  }

  &__desc {
    max-width: 520px;
    color: vars.$text-on-light;
  }

  &__benefits {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    gap: 16px 30px;
    max-width: 390px;

    &-item {
      display: flex;
      gap: 12px;
      width: 180px;
    }

    &-icon {
      width: 28px;
      height: 28px;
    }
  }

  &__statistic {
    display: flex;
    align-items: center;
    gap: 12px;

    &-item {
      width: 100%;
      display: flex;
      flex-direction: column;
      padding: 20px;
      background: vars.$bg-light;
      border-radius: 24px;
      min-height: 140px
    }

    &-amount {
      @include mix.h3;
    }

    &-text {
      margin-top: auto;
      @include mix.p-14;
    }
  }

  &__btns {
    display: flex;
    align-items: center;
    gap: 8px;

    &-icon {
      width: 28px;
      height: 28px;
    }
  }
}
