@use '../partials/mixins'as mix;
@use '../partials/variables'as vars;

.header {
  position: sticky;
  z-index: 15;
  top: 0;
  left: 0;
  width: 100%;
  height: 100px;
  background: vars.$headlines;
  color: vars.$white;
  display: flex;
  align-items: center;

  &::after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    height: 150%;
    background: linear-gradient(180deg, #151514 29.89%, rgba(21, 21, 20, 0) 100%);
    opacity: 0.8;
  }

  &__container {
    position: relative;
    z-index: 10;
    display: flex;
    align-items: center;
    gap: 40px;
  }

  &__nav {
    display: flex;
    align-items: center;
    gap: 32px;
    color: vars.$text-on-dark;
  }

  &__contact {
    margin-left: auto;
    display: flex;
    align-items: center;
    gap: 8px;
  }

  &__select {
    @include mix.p-16;

    &::before {
      right: 16px;
      width: 12px;
      height: 12px;
      background: url('@/img/arrow-down-white.svg') no-repeat center / contain;
    }

    .choices {
      &__inner {
        padding: 12px 36px 12px 16px !important;
      }

      &__list {
        &--dropdown {
          background: vars.$bg-dark !important;
        }
      }

      &__item {
        &--choice {
          padding: 12px 16px !important;

          &.is-highlighted {
            background: lighten(vars.$bg-dark, 20%) !important;
          }
        }
      }
    }
  }
}
