@use '../partials/variables'as vars;

.mini-partners {
  padding: 32px 0;
  background: vars.$bg-light;
  position: relative;

  &::before,
  &::after {
    content: '';
    position: absolute;
    z-index: 5;
    top: 0;
    bottom: 0;
    width: 80px;
  }

  &::before {
    left: 0;
    background: linear-gradient(90deg, #F7F6F2 16.95%, rgba(247, 246, 242, 0.69) 54.7%, rgba(247, 246, 242, 0) 100%);
  }
  &::after {
    transform: rotate(180deg);
    right: 0;
    background: linear-gradient(90deg, #F7F6F2 16.95%, rgba(247, 246, 242, 0.69) 54.7%, rgba(247, 246, 242, 0) 100%);
  }

  &__slider {
    width: 1136px;
    margin: 0 auto;
    height: auto;
    overflow: visible;
  }

  .swiper {
    &-wrapper {
      transition-timing-function: linear !important;
    }
  }
  &__item {
    width: fit-content;
    margin: 0 auto;
  }
  &__img {
    object-fit: contain;
    height: 36px;
  }
}
