@use '../partials/variables'as vars;
@use '../partials/mixins'as mix;

.partners {
  padding: 120px 0;
  background: vars.$bg-light;
  overflow: hidden;

  &__container {
    display: flex;
    flex-direction: column;
    gap: 60px;
    color: vars.$text-on-light;
  }

  &__text-block {
    display: flex;
    justify-content: space-between;
  }

  &__title {
    width: 640px;
    @include mix.h2;
  }

  &__desc {
    width: 510px;
  }

  &__slider {
    overflow: visible;
    width: 63.08%;
    height: 140px;
  }

  .swiper {
    &-wrapper {
      transition-timing-function: linear !important;
    }
  }

  &__item {
    padding: 48px 10px;
    background: vars.$white;
    border-radius: 24px;
    height: 100%;
  }

  &__img {
    display: block;
    margin: 0 auto;
    object-fit: contain;
    height: 100%;
  }
}
