@use '../partials/variables'as vars;
@use '../partials/mixins'as mix;

.presentation {
  overflow: hidden;
  padding: 120px 0;
  background: vars.$bg-dark;
  color: vars.$text-on-dark;

  &__container {
    display: flex;
    gap: 130px
  }

  &__text-block {
    align-self: center;
    display: flex;
    flex-direction: column;
    gap: 30px;
    max-width: 520px;
  }

  &__title {
    @include mix.h2;
    color: vars.$white;
  }

  &__desc {
    display: flex;
    flex-direction: column;
    gap: 20px;
  }
  &__video-block {
    position: relative;
    flex-grow: 1;
    max-width: 50vw;
    min-height: 700px;
    height: 700px;
    padding-right: calc((100vw - var(--container)) / 2);
    margin-right: calc((-100vw + var(--container)) / 2);
  }
}
