@use '../partials/variables'as vars;
@use '../partials/mixins'as mix;

.shipping-partners {
  padding: 120px 0;
  &__container {
    display: flex;
    flex-direction: column;
    gap: 60px;
  }

  &__text-block {
    display: flex;
    justify-content: space-between;
  }

  &__title {
    @include mix.h2;
    width: 640px;
  }

  &__desc {
    color: vars.$text-on-light;
    width: 510px;
  }

  &__list {
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    gap: 20px;
  }

  &__item {
    grid-column: 3 span;
    display: flex;
    flex-direction: column;
    gap: 10px;
    min-height: 360px;
    padding: 20px;
    border-radius: 24px;
    background: vars.$bg-light;

    &:nth-child(3n),
    &:nth-child(4n),
    &:nth-child(5n) {
      grid-column: 2 span;
    }

    &-img-wrap {
      display: flex;
      flex-direction: column;
      gap: 10px
    }

    &-img {
      width: fit-content;
    }

    &-text-block {
      margin-top: auto;
    }

    &-name {
      @include mix.h3;
    }
  }

}
