mixin team-join
  .team-join
    .team-join__content
      .team-join__text-block
        h3.team-join__title Join the journey
        span.team-join__desc Machen Sie mit und stärken Sie die nächste Generation von Unternehmen.
      button.team-join__btn.btn.btn_big.btn_yellow(type="button")
        span Open positions
        svg
          use(xlink:href="@/img/sprite.svg#arrow-right")
    .team-join__poster-wrap
      img.team-join__poster(src="@/img/team/join-poster.jpg", alt="")
