mixin popup-form(isActive = false)
  .popup.popup-form(class=isActive ? 'popup_active' : '' data-popup="form")
    .popup-form__container
      button.popup__close(type="button" data-popup-close)
        svg.popup__close-icon
          use(xlink:href="./assets/sprite.svg#close")
      .popup-form__text-block
        h2.popup-form__title Leave us a request
        p.popup-form__desc Sind Sie an einer Zusammenarbeit interessiert? Schreiben Sie uns, wir werden Ihnen bald antworten!
      form.form(action="#")
        .form__field-block
          label.visually-hidden(for="#name") Name
          input#name.form__field(type="text" name="name" placeholder="Name")
          .form__field-row
            label.visually-hidden(for="#email") E-mail-Adresse
            input#email.form__field(type="email" name="email" placeholder="E-mail-Adresse")
            label.visually-hidden(for="#tel") Telefon
            input#tel.form__field(type="tel" name="tel" placeholder="Telefon")
          label.visually-hidden(for="#message") Nachricht
          textarea.form__field.form__field_textarea#message(name="message", placeholder="Nachricht")
        label.checkbox.checkbox__checkbox
          input.visually-hidden.checkbox__flag(type="checkbox" name="rules")
          span.checkbox__custom
          span.checkbox__text
            span.form__checkbox-text Hiermit akzeptiere ich die&nbsp;
            a.form__checkbox-text.form__checkbox-text_link(href="#") Datenschutzbedingungen

        button.btn.btn_yellow.form__btn(type="submit") Senden


