mixin about-desc(text = 'We are a fullfilment & logistic company, that is working out a a coherent 360-degree logistics solution with individual concepts based on our customers. Fast shipping, late cut-off times, product based and secured storage and transparency through IT interfaces are a matter of course for us.')
  section.about-desc
    .container.about-desc__container
      .about-desc__content
        p.about-desc__desc=text
