mixin about-acc(titleObj, accList, accObj)
  .about-acc
    .container.about-acc__container
      h2.about-acc__title
        =titleObj.text
        if titleObj.notice
          span.about-acc__title_notice +4
      ul.acc.about-acc__acc(class=accObj.counter ? 'acc_counter' : '')
        each accItem in accList
          li.acc__item
            button.acc__btn(type="button")
              span.acc__title=accItem
              if accObj.icon
                svg.acc__icon.acc__icon_open
                  use(xlink:href="@/img/sprite.svg#acc-open")
                svg.acc__icon.acc__icon_close
                  use(xlink:href="@/img/sprite.svg#acc-close")
            .acc__panel
              .acc__content
                block
