footer.footer
  .container.footer__container
    .footer__content
      .footer__main
        +logo('footer__logo', 'logo-black')
        .footer__desc Schreiben Sie mir eine E-Mail oder rufen Sie direkt an.
        .footer__btns
          button.btn.btn_yellow.footer__proposal(type="button" data-popup-btn="form") IMO Angebote
          button.footer__social(type="button")
            svg.footer__social-icon
              use(xlink:href="@/img/sprite.svg#linkedin")
      nav.footer__nav
        .footer__nav-block
          span.footer__nav-title Navigation
          ul.footer__nav-list
            li.footer__nav-item
              a.footer__nav-link(href="#") Tariffs
            li.footer__nav-item
              a.footer__nav-link(href="#") Tarifrechner
            li.footer__nav-item
              a.footer__nav-link(href="#") Über uns
            li.footer__nav-item
              a.footer__nav-link(href="#") Nachhaltigkeit
            li.footer__nav-item
              a.footer__nav-link(href="#") Kontakt
        .footer__nav-block
          span.footer__nav-title Company
          ul.footer__nav-list
            li.footer__nav-item
              a.footer__nav-link(href="#") Leistungen
            li.footer__nav-item
              a.footer__nav-link(href="#") Karriere
            li.footer__nav-item
              a.footer__nav-link(href="#") Downloads
        .footer__nav-blocks-wrap
          .footer__nav-block
            span.footer__nav-title Ilja Slutski, Head of Transport Logistics and Business Development
            ul.footer__nav-list
              li.footer__nav-item
                a.footer__nav-link(href="tel:+4917624847854") +49 176 24847854
              li.footer__nav-item
                a.footer__nav-link(href="mailto:iljasl@imologistics.com") iljasl@imologistics.com
          .footer__nav-block
            span.footer__nav-title Rafael Porebski, Head of Supply Chain Management
            ul.footer__nav-list
              li.footer__nav-item
                a.footer__nav-link(href="tel:+4917624847788") +49 176 24847788
              li.footer__nav-item
                a.footer__nav-link(href="mailto:rafaelpo@imologistics.com") rafaelpo@imologistics.com
        .footer__nav-block
          span.footer__nav-title Zentrale
          ul.footer__nav-list
            li.footer__nav-item
              a.footer__nav-link(href="tel:+4951199994290") +49 511 9999 4 290
            li.footer__nav-item
              a.footer__nav-link(href="mailto:info@imologistics.com") info@imologistics.com
    .footer__additionally
      span.footer__copyright All rights reserved 2022 IMO Logistics
      select.select-lang.footer__select
        option(value="en") En
        option(value="ru") Ru
        option(value="am") Am
      ul.footer__additionally-list
        li.footer__additionally-item
          a.footer__additionally-link(href="#") Impressum
        li.footer__additionally-item
          a.footer__additionally-link(href="#") AGB
        li.footer__additionally-item
          a.footer__additionally-link(href="#") Datenschutzerklärung


