mixin hero(title, desc, videoSrc = false)
  section.hero
    if videoSrc
      .hero__video-block
        video.hero__video(src=videoSrc autoplay muted loop)
    .container.hero__container
      .hero__content
        h1.hero__title=title
        p.hero__desc=desc
        block
