section.mini-partners
  .container.mini-partners__container
  .swiper.mini-partners__slider
    ul.swiper-wrapper
      - let i = 1;
      while i <= 7
        li.swiper-slide
          .mini-partners__item
            img.mini-partners__img(src=`@/img/partners/partner-${i++}.png`, alt="Partner Logo")
