mixin partners
  .partners
    .container.partners__container
      .partners__text-block
        h2.partners__title Partners
        p.partners__desc Wir pflegen enge Beziehungen zu unseren Partnern, um gemeinsam Wachstum und Erfolg zu erreichen.
      .swiper.partners__slider
          ul.swiper-wrapper
            - let i = 1;
            while i <= 7
              li.swiper-slide
                .partners__item
                  img.partners__img(src=`@/img/partners/partner-${i++}.png`, alt="Partner Logo")
