include ../modules/presentation/video-block

mixin presentation(title,descArr = [])
  .presentation
    .container.presentation__container
      .presentation__text-block
        h2.presentation__title=title
        p.presentation__desc
          each desc in descArr
            span=desc
        button.btn.btn_yellow.presentation__btn(type="button") Kontakt Vertrieb
      +video-block('@/files/globus-video.mp4')
