include ../modules/rate/rate-list
include ../modules/rate/rate-card
include ../modules/rate/rate-offer

mixin rate(isWhite = false)
  section.rate(class=isWhite? 'rate_white' : '')
    .container.rate__container
      .rate__top
        h2.rate__title Unsere Tarife
        .rate__btns
          button.btn.btn_big.btn_yellow(type="button" data-popup-open="quiz") Tarifrechner
          if !isWhite
            button.btn.btn_big.btn_white(type="button") Learn more
      -
        const rateList = [
          {
            title: 'S',
            price: 'ab 600€',
            desc: 'monatlich',
            benefits: [
            {isActive: false, text: 'Set-Up IT (299€)'},
            {isActive: false, text: 'Provision/Initial stocking (299€)'},
            {isActive: true, text: 'Up to 5 working hours'},
            {isActive: true, text: '200 picks'},
            {isActive: true, text: '50 packs'},
            {isActive: true, text: 'Up to 25 shleves included'},
            {isActive: true, text: 'Up to 5 pallet spaces included'},
            ],
          },
          {
            title: 'M',
            price: 'ab 1500€',
            desc: 'monatlich',
            benefits: [
            {isActive: false, text: 'Set-Up IT (299€)'},
            {isActive: false, text: 'Provision/Initial stocking (299€)'},
            {isActive: true, text: 'Up to 10 working hours'},
            {isActive: true, text: '500 picks'},
            {isActive: true, text: '100 packs'},
            {isActive: true, text: 'Up to 50 shleves included'},
            {isActive: true, text: 'Up to 10 pallet spaces  included'},
            ],
          },
          {
            title: 'L',
            price: 'ab 2500€',
            desc: 'monatlich',
            benefits: [
            {isActive: true, text: 'Set-Up IT'},
            {isActive: true, text: 'Provision/Initial stocking'},
            {isActive: true, text: 'Up to 30 working hours'},
            {isActive: true, text: '1200 picks'},
            {isActive: true, text: '240 packs'},
            {isActive: true, text: 'Up to 100 shleves included'},
            {isActive: true, text: 'Up to 20 pallet spaces  included'},
            ],
          },
          {
            title: 'XL',
            price: 'ab 5000€',
            desc: 'monatlich',
            benefits: [
            {isActive: true, text: 'Set-Up IT'},
            {isActive: true, text: 'Provision/Initial stocking'},
            {isActive: true, text: 'Up to 80 working hours'},
            {isActive: true, text: '2500 picks'},
            {isActive: true, text: '500 packs'},
            {isActive: true, text: 'Up to 200 shleves included'},
            {isActive: true, text: 'Up to 50 pallet spaces  included'},
            ],
          },
        ]
      +rate-list(rateList, isWhite)
      +rate-offer
