include ../partials/contact-mini
include ../partials/inputs/attach


mixin contact-filling(title, desc, isAttach)
  section.contact-filling
    .container.contact-filling__container
      .contact-filling__content
        .contact-filling__text-block
          h2.contact-filling__title=title
          p.contact-filling__desc=desc
        form.form.contact-filling__form(action="#")
          .form__field-block
            label.visually-hidden(for="#name") Name
            input#name.form__field(type="text" name="name" placeholder="Name")
            label.visually-hidden(for="#email") E-mail-Adresse
            input#email.form__field(type="email" name="email" placeholder="E-mail-Adresse")
            label.visually-hidden(for="#theme") Theme
            input#theme.form__field(type="text" name="theme" placeholder="Theme")
            if isAttach
              +attach
            label.visually-hidden(for="#message") Nachricht
            textarea.form__field.form__field_textarea#message(name="message", placeholder="Nachricht")
          label.checkbox.checkbox__checkbox
            input.visually-hidden.checkbox__flag(type="checkbox" name="rules")
            span.checkbox__custom
            span.checkbox__text
              span.form__checkbox-text Hiermit akzeptiere ich die&nbsp;
              a.form__checkbox-text.form__checkbox-text_link(href="#") Datenschutzbedingungen

          button.btn.btn_yellow.form__btn(type="submit") Senden
      +contact-mini('contact-filling__contact-mini')
