mixin gallery
  .gallery
    .container.gallery__container
      h2.gallery__title Gallery Section
      .swiper.gallery__slider
        ul.swiper-wrapper
          - let i = 1;
          while i <= 4
            li.swiper-slide
              img.gallery__img(src=require(`@/img/gallery/gallery-${i++}.jpg`), alt="")

