mixin gallery
  .gallery
    .container.gallery__container
      h2.gallery__title Gallery Section
      .slider-full-width
        .gallery__slider.swiper
          ul.swiper-wrapper
            - let i = 0;
            while i < 2
              - i++
              - let j = 1;
              while j <= 4
                li.swiper-slide
                  .gallery__item
                    img.gallery__img(src=require(`@/img/gallery/gallery-${j++}.jpg`), alt="")
            .gallery__slider-scrollbar.swiper-scrollbar
            

