mixin hero(title, desc, data = {})
  section.hero
    if data && data.icons
      .hero__icons
    if data && data.video
      .hero__video-block
        video.hero__video(src=data.video autoplay muted loop)
    .container.hero__container
      .hero__content
        h1.hero__title=title
        p.hero__desc=desc
        block
