mixin not-found
  section.not-found
    .container.not-found__container
      .not-found__content
        h1.not-found__title 404
        .not-found__img-block
          .not-found__img-wrap
            img.not-found__img(src="@/img/error.png", alt="")
        p.not-found__desc Sorry, this page not found. Let’s try again!
        a.not-found__btn.btn.btn_big.btn_black(href="index.html") Zurück zur Startseite