mixin partners-small
  section.partners-small
    .container.partners-small__container
      .slider-full-width.slider-fog
        .swiper.partners-small__slider
          ul.swiper-wrapper
            - let i = 0;
            while i < 2
              - i++
              - let j = 1;
              while j <= 7
                li.swiper-slide
                  .partners-small__item
                    img.partners-small__img(src=`@/img/partners/partner-${j++}.png`, alt="Partner Logo")
