mixin partners-small
  .partners-small
    .container.partners-small__container
      .partners-small__slider-block
        .swiper.partners-small__slider
          ul.swiper-wrapper
            - let i = 1;
            while i <= 7
              li.swiper-slide
                .partners-small__item
                  img.partners-small__img(src=require(`@/img/partners/partner-${i++}.png`), alt="Partner Logo")
