mixin partners
  section.partners
    .container.partners__container
      .partners__text-block
        h2.partners__title Partners
        p.partners__desc Wir pflegen enge Beziehungen zu unseren Partnern, um gemeinsam Wachstum und Erfolg zu erreichen.
      .slider-full-width.slider-fog
        .swiper.partners__slider
            ul.swiper-wrapper
              - let i = 0;
              while i < 2
                - i++
                - let j = 1;
                while j <= 7
                  li.swiper-slide.partners__slider-slide
                    .partners__item
                      img.partners__img(src=`@/img/partners/partner-${j++}.png`, alt="Partner Logo")

