mixin thanks-request
  section.thanks-request
    .container.thanks-request__container
      .thanks-request__content
        svg.thanks-request__icon
          use(xlink:href="./assets/sprite.svg#thanks-icon")
        h1.thanks-request__title Danke f端r die Bewerbung
        p.thanks-request__desc Ihre Bewerbung wird in k端rzester Zeit 端berpr端ft
        a.thanks-request__btn.btn.btn_big.btn_light(href="#") Close