mixin attach(className)
  label.attach(class=className)
    input.attach__input.visually-hidden(type="file" accept="image/*" placeholder="CV/Resume")
    svg.attach__icon
      use(xlink:href="@/img/sprite.svg#attach")
    span.attach__text CV/Resume
